* {
    font-family: Oxygen, sans-serif;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Oxygen';
    src: url('Oxygen-Light.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'PermanentMarker';
    src: url('PermanentMarker-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}