.App {
  background-color: #ffffff;
  font-size: 100%;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 769px) {
  .App {
    font-size: 125%;
  }
}

@media only screen and (min-width: 1600px) {
  .App {
    font-size: 150%;
  }
}

